source "https://rubygems.org"
ruby "<%= ruby_version %>"

gem "sinatra", "~> 1.4.3"

group :development do
  gem "rake",             "~> 10.1.0"
  gem "sinatra-reloader", "~> 1.0"
end

group :test do
  gem "contest", "~> 0.1.3"
end
