require "rake/testtask"

task :default => "test:all"

desc "Start the development server"
task :server do
  conf = File.expand_path('config.ru', File.dirname(__FILE__))
  exec("bundle exec rackup #{conf}")
end

namespace :test do
  Rake::TestTask.new(:unit) do |t|
    t.libs << 'test/unit'
    t.test_files = Dir["test/unit/**/*_test.rb"]
  end

  desc "Run all tests"
  task :all => %w[test:unit]
end
