# frozen_string_literal: true

# Import any external rake tasks
Dir.glob('tasks/*.rake').each { |r| import r }

<% if 'test-unit' == options[:test_framework] -%>
task default: 'test:all'
<% else -%>
task default: 'spec'
<% end -%>
